<%= form_with model: @company do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :cnpf %>
    <%= form.text_field :cnpj %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>